  .mySwiper {
    width: 100%;
    height: 500px; /* control the overall swiper height */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; /* in case image doesn’t fill */
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps proportions, crops overflow */
  }